<!DOCTYPE html>
<html lang="en">
    <head>
        <title>profile</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>

        <h1>This is profile page</h1>
     <a id="verify_mobile_link">verify mobile</a>
     <button id="logout">Logout</button>
    <script src="/js/profile.js"></script>
    </body>
</html>