<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>Reset password</h1>
   <form action="/auth/reset-password/?userId=<%=userId%>" method="post">
    <input type="password" id="password" name="password" placeholder="Enter ur new password">
    <input type="password" id="confirm_password" name="confirm_password" placeholder="Enter new password again">
    <input id="reset_password" type="submit" value="reset password">
   </form>
    <script src="/js/reset_password"></script>
    </body>
</html>